                                                                Suyash Tambe
                                                                22070126117
                                                                AIML B2

In [1]:
import pandas as pd 
import numpy as np 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [2]:
df=pd.read_csv(r"C:\Users\Suyash Tambe\Desktop\Supervised ML\Assignment 2\Housing.csv")

In [3]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [5]:
df.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [6]:
df.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

mainroad, guestroom, basement, hotwaterheating, airconditioning, prefarea: These are binary variables (yes/no) 
and may not contribute significantly to predicting house prices. 
If they don't show strong patterns, might consider dropping them.

In [7]:
binary_columns_to_drop = ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea']

# Drop the binary columns
df = df.drop(columns=binary_columns_to_drop)

print(df.head())

      price  area  bedrooms  bathrooms  stories  parking furnishingstatus
0  13300000  7420         4          2        3        2        furnished
1  12250000  8960         4          4        4        3        furnished
2  12250000  9960         3          2        2        2   semi-furnished
3  12215000  7500         4          2        2        3        furnished
4  11410000  7420         4          1        2        2        furnished

In [8]:
columns_for_regression = ['price', 'area', 'bedrooms', 'bathrooms', 'stories',
       'parking']

for column in columns_for_regression:
    X = df[[column]]
    y = df['price']

    # Create and fit the model
    model = LinearRegression()
    model.fit(X, y)

    # Get the coefficients (slope) and intercept
    slope = model.coef_[0]
    intercept = model.intercept_

    print(f"For {column}:")
    print("Slope (Coefficient):", slope)
    print("Intercept:", intercept)
    print("\n")

For price:
Slope (Coefficient): 1.0000000000000013
Intercept: -6.51925802230835e-09


For area:
Slope (Coefficient): 461.9748942727834
Intercept: 2387308.4823964303


For bedrooms:
Slope (Coefficient): 928788.1189320398
Intercept: 2012744.6601941711


For bathrooms:
Slope (Coefficient): 1926558.890106077
Intercept: 2288714.9688727334


For stories:
Slope (Coefficient): 907116.9031974714
Intercept: 3128925.517896675


For parking:
Slope (Coefficient): 834490.4822660208
Intercept: 4187945.0233090715

In [9]:
y_pred = model.predict(X)
y_actual = df['price']

# Calculate MAPE (Mean Absolute Percentage Error)
mape = np.mean(np.abs((y_actual - y_pred) / y_actual)) * 100

# Calculate MSE (Mean Squared Error)
mse = mean_squared_error(y_actual, y_pred)

# Calculate RMSE (Root Mean Squared Error)
rmse = np.sqrt(mse)

print("MAPE:", mape)
print("MSE:", mse)
print("RMSE:", rmse)

MAPE: 31.42541338139996
MSE: 2976133935257.727
RMSE: 1725147.5111588943