In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, classification_report

In [3]:
df = pd.read_csv(r"C:\Users\Suyash Tambe\Desktop\Supervised ML\Assignment 8\Naive bayes dataset.csv")

In [8]:
df

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
print("Dataset Information:")
print(df.info())
print("\nDataset Description:")
print(df.describe())
print("\nFirst few rows of the dataset:")
print(df.head())

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   39              32560 non-null  int64
 1    State-gov      32560 non-null  object
 2    77516          32560 non-null  int64
 3    Bachelors      32560 non-null  object
 4    13             32560 non-null  int64
 5    Never-married  32560 non-null  object
 6    Adm-clerical   32560 non-null  object
 7    Not-in-family  32560 non-null  object
 8    White          32560 non-null  object
 9    Male           32560 non-null  object
 10   2174           32560 non-null  int64
 11   0              32560 non-null  int64
 12   40             32560 non-null  int64
 13   United-States  32560 non-null  object
 14   <=50K          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

Dataset Description:
                 39         77516            13          2174             0  \
count  32560.000000  3.256000e+04  32560.000000  32560.000000  32560.000000
mean      38.581634  1.897818e+05     10.080590   1077.615172     87.306511
std       13.640642  1.055498e+05      2.572709   7385.402999    402.966116
min       17.000000  1.228500e+04      1.000000      0.000000      0.000000
25%       28.000000  1.178315e+05      9.000000      0.000000      0.000000
50%       37.000000  1.783630e+05     10.000000      0.000000      0.000000
75%       48.000000  2.370545e+05     12.000000      0.000000      0.000000
max       90.000000  1.484705e+06     16.000000  99999.000000   4356.000000

                 40
count  32560.000000
mean      40.437469
std       12.347618
min        1.000000
25%       40.000000
50%       40.000000
75%       45.000000
max       99.000000

First few rows of the dataset:
   39          State-gov   77516   Bachelors   13        Never-married  \
0  50   Self-emp-not-inc   83311   Bachelors   13   Married-civ-spouse
1  38            Private  215646     HS-grad    9             Divorced
2  53            Private  234721        11th    7   Married-civ-spouse
3  28            Private  338409   Bachelors   13   Married-civ-spouse
4  37            Private  284582     Masters   14   Married-civ-spouse

         Adm-clerical   Not-in-family   White     Male   2174   0   40  \
0     Exec-managerial         Husband   White     Male      0   0   13
1   Handlers-cleaners   Not-in-family   White     Male      0   0   40
2   Handlers-cleaners         Husband   Black     Male      0   0   40
3      Prof-specialty            Wife   Black   Female      0   0   40
4     Exec-managerial            Wife   White   Female      0   0   40

    United-States   <=50K
0   United-States   <=50K
1   United-States   <=50K
2   United-States   <=50K
3            Cuba   <=50K
4   United-States   <=50K

In [6]:
data_encoded = pd.get_dummies(df)

In [11]:
# Inspect column names of the encoded dataset
print(data_encoded.columns)

Index(['39', ' 77516', ' 13', ' 2174', ' 0', ' 40', ' State-gov_ ?',
       ' State-gov_ Federal-gov', ' State-gov_ Local-gov',
       ' State-gov_ Never-worked',
       ...
       ' United-States_ Scotland', ' United-States_ South',
       ' United-States_ Taiwan', ' United-States_ Thailand',
       ' United-States_ Trinadad&Tobago', ' United-States_ United-States',
       ' United-States_ Vietnam', ' United-States_ Yugoslavia',
       ' <=50K_ <=50K', ' <=50K_ >50K'],
      dtype='object', length=110)

In [22]:
X = data_encoded.drop(' <=50K_ >50K', axis=1)  # Features
y = data_encoded[' <=50K_ >50K']  # Target variable

In [23]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.33,random_state=42)

In [24]:
naive_bayes = GaussianNB()
naive_bayes.fit(x_train, y_train)

GaussianNB()

In [25]:
y_pred = naive_bayes.predict(x_test)
accuracy = accuracy_score(y_test, y_pred)
print("\nAccuracy:", accuracy)
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

Accuracy: 0.7940437412750116

Classification Report:
              precision    recall  f1-score   support

       False       0.81      0.95      0.87      8116
        True       0.67      0.31      0.42      2629

    accuracy                           0.79     10745
   macro avg       0.74      0.63      0.65     10745
weighted avg       0.78      0.79      0.76     10745